<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.enigoo.terminal">

  <uses-feature
    android:name="android.hardware.usb.host"
    android:required="true" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_" />

  <application>
    <service
      android:name=".fiskalsk.UsbService"
      android:enabled="true">
    </service>
  </application>

</manifest>
